{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} BOOKS - Поделись любимой книгой {% endblock %}
{% block content %}
<main class="list">
  
   <div class="wrapp_">
      <h2>Добавить книгу:</h2>
      <form class = 'form_create' action="" method = 'POST' enctype="multipart/form-data">
        
         {% csrf_token %}

         {{form|crispy}}
    
         <input type="submit" class='btn_logout_' value='Создать'/>
      </form>
   </div>
   
</main>
{% endblock %}