{% extends 'base.html' %}
{% load static %}

{% block title %} BOOKS - Новинки {% endblock %}

{% block content %}

<main class="list">
    <div class="search">
        <form class="form-inline" method="GET">
           <input class="form-control mr-sm-2" type="search" name = 'search_title' placeholder="Найти" aria-label="Search">
           <button class="btn btn-search" type="submit">Найти</button>
         </form>
       </div>
    <div class="wrapp-quote">
        <p>"Просто читай, и пусть слова ласкают твой слух, словно музыка." <br><br>
            - Роальд Даль «Матильда»</p>
    </div>
</main>  
    <div class="page-new">
        <div class="profile-page">
            {% for book in object_list %}
            <div class="books-new__book_title">
                <ul>
                    <h3><a class = links_list style="text-decoration: overline double;" href="{% url 'bookdetail_url' book.pk %}">{{ book.title }}</a></h3>
                  
                    {% if book.image %}
                    <div class="col-md-10 blogShort">
                        <a href="{% url 'bookdetail_url' book.pk %}">
                            <img class='profile' style="height: 200px" src="{{book.image.url}}" class="pull-left img-responsive thumb margin20 img-thumbnail">
                        </a>
                        <br><h2 style="text-align: justify;" >Автор поста: <a href="#">{{ book.author }}</a></h2><br>
                    </div>
                    {% endif %}
                    
                </ul>
                <div class="books-new__book_text">
                    <p>{{ book.book|truncatewords:200 }}
                        <a href="{% url 'bookdetail_url' book.pk %}">&#8594;</a>
                    </p>
                    
                    
                <div class="published">
                    <p>Опубликовано: {{ book.publish }}</p>
                </div>
                </div>
    
               
            </div>

            
            {% endfor %}
            
        </div>
        <div class="paginator">
        {% include "pagination.html" with page=page_obj %}
        </div>
    </div>
    



{% endblock %}