{% extends 'base.html' %}
{% load static %}

{% block title %} BOOKS {% endblock %}

{% block content %} 

<main class="list">
    {% if user.is_authenticated %}
  
    <div class="search">
       <form class="form-inline" method="GET">
          <input class="form-control mr-sm-2" type="search" name = 'search_title' placeholder="Найти" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
      </div>
   
    <div class="wrapp-quote">
        <p> "...Чтением человек переживает века." <br><br>
            - Александр Герцен</p>
    </div>
    {% else %}
    <div class="wrapp">
        <div class="info"></div>
            <h2>Вы можете:</h2>
            <!-- <div class="line"></div> -->
                <ul>
                    <li>Делиться любимыми книгами</li>
                    <li>Писать свои собственные аннотации</li>
                    <li>Обсуждать книги в комментариях</li>
                    <li>Регистрация бесплатная!</li>
                </ul>
        </div>
    </div>
    {% endif %}

    <div class="ex_wrapp">
        <div class="examples">
            <!-- <h1>Все книги:</h1> -->
            
            {% for book in object_list %}
            <div class="book_title">
                <ul>
                    <h3><a class = links_list href="{% url 'bookdetail_url' book.pk %}">{{ book.title }}</a></h3>

                    {% if book.image %}

                    <div class="col-md-10 blogShort">
                        <a href="{% url 'bookdetail_url' book.pk %}">
                            <img style="height: 280px" src="{{book.image.url}}" class="pull-left img-responsive thumb margin20 img-thumbnail">
                        </a>

                        <h5>Автор поста: <a href="#">{{ book.author }}</a></h5>
                    </div>

                    {% endif %}
                    
                </ul>
            </div>

            <div class="book_text">
                <p>{{ book.book }}</p>
                
            </div>
            {% endfor %}
        </div>
        <div class="paginator">
            {% include "pagination.html" with page=page_obj %}
        </div>
    </div>
   
</main>

{% endblock %} 