{% extends 'base.html' %}
{% load static %}

{% block title %} Удалить «{{object.title}}» {% endblock %}

{% block content %}
<main class="list">
    <div class="ex_wrapp_delete"></div>
    <div class="wrapp_delete">
        <h2>Удалить: «{{object.title}}»</h2>
        <div class="line" id = 'line_new'></div>

    <form class = 'form_delete' action="" method = 'POST'>
        {% csrf_token %}
        <p>Вы действительно хотите удалить эту книгу? «{{object.title}}»</p>
        <input class = 'btn_delete' type="submit" value = 'Удалить'>
    </form>
    </div>
    <div class="ex_wrapp_delete"></div>
</main>
{% endblock %}