{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} ... {% endblock %}
{% block content %}
<main class="list">
   <div class="wrapp-quote">
      <p> "...Чтением человек переживает века." <br><br>
          - Александр Герцен</p>
   </div>
   <div class="ex_wrapp">
      <div class="book_title">
         <h3>{{object.title}}</h3>
         {% if object.image %}
         <div class="col-md-10 blogShort">
         <img id = image_ style="height: 400px" src="{{object.image.url}}">
         <h5 class="main_p"><a href="{% url 'bookslist_url' %}">	&#8592;Главная</h5>
         <h5>Автор поста: <a class='aa' href="">{{object.author}}</a><p class="id_book">ID: {{object.id}}</p></h5>
         </div>
         {% endif %}
      </div>
   
      <div class="book_text">
      <p>{{object.book}}</p>
   
      {% if user.is_authenticated %}
      {% if request.user == object.author %}
     
      <a href="{% url 'bookupdate_url' object.pk %}">
         <button class='btn_add'>Изменить</button>
      </a>
      <a href="{% url 'bookdelete_url' object.pk %}">
         <button class='btn_add'>Удалить</button>
      </a>
 
      {% endif %}
      {% endif %}
    

      {% if user.is_authenticated %}
      <div class="wrapp_comments">
      <form action="" method="POST" class='comments'>
         {% csrf_token %}
         {{form|crispy}}
         <button class="btn btn_add">Добавить </button>
     </form>
     <div class="line"></div>
      
      
      <h3 class = "card">Комментарии к аннотации книги «{{object.title}}»:</h3>
    
      <h3 class = "card">Количество комментариев: {{ book_comments.count }} </h3>
 
      {% for comment in object.book_comments.all %}
      <div class="card" style="width: 100%; margin-top: 50px;">
         <h3 class="card-title">{{comment.comment_title}}</h3>
         <p class="card-text">{{comment.comment}}</p>
         <p class="card-link"><a href="#" >{{comment.author}}</a></p>
         <p class="card-link2">{{comment.pub_date}}</p>
      </div>
      {% endfor %}
      
      </div>
     {% endif %}
      </div>
   </div>
  
</main>
{% endblock %}