{% extends 'base.html' %}
{% load static %}

{% block title %} BOOKS {% endblock %}

{% block content %} 

<main class="list">
    {% if user.is_authenticated %}
    <div class="wrapp_changed">
        <div class="info"></div>
            <h3>Делитесь книгами и обсуждайте другие книги в комментариях!</h3>
            <div class="line"></div>
        </div>
    </div>
    {% else %}
    <div class="wrapp">
        <div class="info"></div>
            <h3>Вы можете:</h3>
            <div class="line"></div>
                <ul>
                    <li>Делиться любимыми книгами</li>
                    <li>Писать свои собственные аннотации</li>
                    <li>Обсуждать книги в комментариях</li>
                    <li>Регистрация бесплатная!</li>
                </ul>
        </div>
    </div>
    {% endif %}

    <div class="ex_wrapp">
        <div class="examples">
            <h1>Все книги:</h1>
            <div class="line"></div>
            {% for book in object_list %}
            <div class="book_title">
            
                <ul>
                    <h3><a class = links_list href="{% url 'bookdetail_url' book.pk %}">{{ book.title }}</a></h3>

                    {% if book.image %}

                    <div class="col-md-10 blogShort">
                        <img style="height: 200px" src="{{book.image.url}}"  class="pull-left img-responsive thumb margin20 img-thumbnail">
                    </div>

                    {% endif %}
                    <h5>Автор поста: <a href="#">{{ book.author }}</a></h5>
                </ul>
            </div>

            <div class="book_text">
                <p>{{ book.book }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="wrapp_paginator_pink">
        <div class="paginator">
            {% include "pagination.html" with page=page_obj %}
        </div>
        </div>
</main>

{% endblock %} 