<!-- <a href="{% url 'commentsdelete_url' comment.pk %}">
<button class='btn_add'>Удалить</button></a> -->
    <!-- <script>
        $(function() {
            $('.delete_item').on('click', function() {
                  var $btn = $(this);
                  var id = $btn.data('id');
                $.ajax({
                    url: '/commentsdelete_url/' + id + '/',
                    type: 'DELETE',
                    success: function(response) {
                        // Какое либо действие после удаления, например переход на другую страницу или ее обновление
                        location.reload();
                    }
                });
            });
        });
    </script> -->
