*{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Стили navbar-a */
header{
    width: 100%;
    /* background-color: rgb(253, 224, 224); */
    background-color: rgb(248, 238, 238);
    display: flex;
    position: relative;
}

body {
    /* background-color: rgb(253, 224, 224); */
    background-color: rgb(248, 238, 238);
}


.header__logo {
    cursor: pointer;
    margin-top: 38px;
    margin-left: 6%;
    margin-right: 450px;
    position: relative;
}

.header__logo p {
    -webkit-text-stroke: 2px rgb(73, 71, 71);
    color: transparent;
    /* text-transform: uppercase; */
    font-weight: 200;
    font-size: 35px;
}



nav{
    margin-top: 66px;
    margin-left: 10%;
    position: relative;
}

.topnav .a_hover {
    color: #222;
    text-align: center;
    padding: 0 12px 0 12px; 
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    /* text-transform: uppercase; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-stretch: condensed; */
}

.topnav .a_hover:hover{
    border-bottom: 3px solid rgb(228, 138, 97);
}

.hello {
    /* font-family: 'Courier New', Courier, monospace; */
    margin-bottom: 15px;
    position: relative;
    text-align-last: left;
}

.btn-search {
    width: 80px;
    height: 30px;
    position: relative;
    font-style: italic;

}


.btn_add {
    width: 180px;
    height: 40px;
    position: relative;
    background-color: #fff;
    color: rgb(243, 122, 65);
    font-size: 20px;
    cursor: pointer;
    padding-left: 0px;
    border: 1.5px solid #D85112;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 10px;
}
.btn_add:hover {
    background-color: rgb(228, 112, 112);
    color: #fff;
    border: 1.5px rgb(253, 137, 137);
}

.btn_logout {
    width: 150px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    color: rgb(126, 42, 11);
    font-size: 25px;
    padding-left: 1.5px;
    border: 1.5px solid #B73C10;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 10px;
}

.btn_logout:hover {
    background-color: rgb(214, 12, 12);
    color: #fff;
}

.btn_logout_ {
    width: 250px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    color: rgb(126, 42, 11);
    font-size: 25px;
    padding-left: 1.5px;
    border: 1.5px solid #B73C10;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 15px;
}

.btn_logout_:hover {
    background-color: rgb(228, 112, 112);
    color: #fff;
    border: 1.5px rgb(253, 137, 137);
}

.book_text .btn_add {
    margin-top: 50px;
    display: list-item;
    margin-left: 86%;
    margin-bottom: -40px;
}


.not_yet {
    margin-top: 56px;
    margin-left: 20%;
    position: relative;
}


/* Footer */
.social{
    display: flex;
    justify-content: center;
}

footer{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: #3A3A3A;
    padding: 45px 0 30px 0;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p{
    color: rgb(224, 144, 107);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}


/* Основные стили books_list.html */
.list {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.list .wrapp {
    background: #3A3A3A;
    text-align: center;
    padding: 70px 0 70px 0;
    font-size: 30px;
    color: rgb(250, 245, 245);
    font-family: 'Cormorant Garamond', serif;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.ex_wrapp_full {
    background: #3A3A3A;
    padding: 50px 0 150px 0;
    }

.comments form {
    font-size: 20px;
    padding-top: 50px;
}

.comments input {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    width: 30%;
    background: rgb(255, 255, 255);
}

.comments textarea{
    margin-bottom: -20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: left;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 20px;
    background: rgb(255, 253, 253);
}
input {
    padding: 8px 60px 8px 60px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.comments label {
    color: rgb(56, 56, 56);
    margin-top: 30px;
    text-align: left;
}

#hint_id_password2 {
    margin-bottom: 25px;
}

#id_password2 {
    margin-top: 25px;
}


#hint_id_username {
    margin-bottom: 25px;
}

.wrapp h2 {
    color: rgb(246, 218, 208);
    text-decoration: overline rgb(180, 83, 83);
    font-size: 60px;
}

.wrapp-quote {
    background: #3a3a3a;
    text-align: right;
    padding: 70px 55px 70px 0;
    font-size: 30px;
    color: rgb(250, 245, 245);
    font-style: italic;
    border-radius: 20px;
    margin-bottom: 40px;

}




.ex_wrapp {
    background: rgb(241, 226, 226); 
    color: #000;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 40px;
    border: 3px rgb(153, 148, 148);
    border-style: outset;

}

.wrapp_ {
    background: #3A3A3A;
    text-align: center;
    padding: 70px 0 70px 0;
    font-size: 30px;
    color: rgb(250, 245, 245);
    font-family: 'Cormorant Garamond', serif;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 64%;
}

.line {
    width: 80%;
    height: 2px;
    background: #4b4b4b;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 150px;
}

.wrapp_ h2 {
    color: rgb(246, 218, 208);
    text-decoration: overline rgb(180, 83, 83);
    font-size: 60px;
    margin-bottom: 60px;
}

.card {
    color: #4d4c4c;
    margin-top: 60px;
    text-align: left;
    margin-left: 100px;
   
}

.card-link {
    text-align: right;
    margin-right: 200px;
}

.card-text {
    position: relative;
    text-align: left;
    /* padding: 0 20px 0 ; */
    margin-left: 20px;
    margin-right: auto;
    width: 85%;
    text-align: justify;
}

.card-link2{
    text-align: right;
    margin-right: 200px;
    text-decoration: underline;
    
}
.card h3 {
    text-decoration: overline double;
}


.wrapp_comments {
    background: rgb(248, 235, 235);
    text-align: center;
    padding: 70px 0 70px 0;
    font-size: 30px;
    color: rgb(250, 245, 245);
    font-family: 'Cormorant Garamond', serif;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 94%;
    height: 20%;
    border: 2px rgb(199, 195, 195);
    border-style: outset ;
}


.book_title {
    text-align: center;
    color: #181818;
    
}

.book_title h3 {
    margin-top: 80px;
    margin-bottom: 30px;
    color: #333131;
    font-size: 38px;
    text-decoration: overline double #222;  
}

.book_title h5 {
    margin-bottom: 45px;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    margin-right: 180px;
    /* margin-top: -20px; */
}

.aa {text-decoration: underline rgb(36, 35, 35);

}
.book_title h5 a{
   color: #181818; 
}

.main_p a {
    font-size: 33px;   
}


.main_p {
    display: flex;
    position: absolute;
    font-stretch: condensed;
    font-size: 30px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 45px;
    
}

.book_title .col-md-10 {
    margin-bottom: 15px;
}

.book_text {
    padding: 0 80px 0 80px;
    font-size: 35px;
    text-align: justify;
}

.books-new__book_text {
    margin-right: 100px;
    width: 500px ;
    font-size: 20px;
    text-align: justify;
    position: relative;
    padding-top:10px;

}

.books-new__book_title h3{
    margin-bottom: 20px;
    margin-top: 50px;
}


.links_list {
    color: #333131;
    font-size: 38px;
    /* text-transform: uppercase; */
}

.paginator {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
}

.paginator a {
    color: #333131;
}

.published {
    font-size: 22px;
    text-align: justify;
    margin-right: 100px;
    margin-top: 15px;
    font-weight: bold;
}

.search {
    width: 93%;
    position: relative;
    background-color: rgb(228, 127, 127);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    padding: 4px 80px 4px 80px;
    margin-left: 100px;
    margin-top: -5px;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: rgb(221, 218, 218);
    border: none;
}

.form-control:hover {
    background-color: rgb(255, 255, 255);
}

.form-inline {
    padding-top: 20px;
    
}

#id_title {
    font-weight: lighter;
}

#id_book {
    font-size: 25px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-weight: lighter;
}


.form_create {
    text-align: center;
}

img {
    border: 25px solid #4d4c4c;
    border-radius: 3px;
}

img:hover {
    border: 25px solid #E47F7F;
}

.profile {
    border: none;
    display: block;
    margin: 0 auto;
}

.profile1 {
    border: none;
}

.profile:hover {
    border: none;
}
.profile1:hover {
    border: none;
}

#image_ {
    border: 10px solid #3b3b3b;
}


.page {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.page-edit {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-new {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

.profile-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile-page .pp_item {
    background: rgb(230, 171, 171);
    padding: 15px;
    padding-bottom: 20px;
    margin: 10px;
    width: 300px;
}



.pp_item1 {
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    background: rgb(230, 171, 171);
    margin: 10px;
    text-align: justify;
    width: 800px;
}

.pp_item2 {
    width: 350px;
    height: 600px;
    background: rgb(230, 171, 171);
    padding: 15px;
    padding-bottom: 20px;
    margin: 10px;
    }

.pp_item3 {
    position: relative;
    margin-top: 55px;
    padding-right: 3px;
    right: 110px;
    margin-right: -50px;
    
}

.pp_item4 {
    position: relative;
    margin-top: 55px;
    padding-right: 3px;
    right: 180px;
    margin-right: -50px;
    padding-top: 30px;
}

.profile-page .pp_item-edit {
    background: rgb(230, 171, 171);
    padding: 20px;
    padding-bottom: 20px;
    margin: 10px;
    width: 600px;
}

.pp_item4-7__el {
    margin-left: -70px;
    
}

.pp_item5 {
    width: 1100px;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    background: rgb(230, 171, 171);
    margin: 10px;
    text-align: justify;
}



.quote {
    font-family: serif;
    margin-top: 550px;
    transform: rotate(-36deg);
    position: fixed;
    margin-left: 900px;
    font-size: 20px;
}

#id_photo {
    font-size: 17px;
    
}

.quote h2{
    font-family: 'Homemade Apple', cursive;
}

.profile-dropdown {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 125px;
    position: static;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: rgb(248, 188, 188);
    color: rgb(80, 80, 80);
   
 
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .profile-dropdown {
    background-color: rgb(218, 122, 122);
    color: #fff;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 25px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.profile__btn-edit {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(251, 225, 225);
    color: rgb(80, 80, 80);
    font-size: 20px;
}

.profile__btn-save {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(251, 225, 225);
    color: rgb(80, 80, 80);
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

.profile_form_text {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 3px;
    height: 560px;
}

.profile_form_text a {
    color: #a02929;
}

.profile_form_text input{
    margin-top: 15px;
}

#photo-clear_id {
    position: absolute;
    margin-top: 30px;
    right: 880px;
}

